{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body-class %}hold-transition login-page{% endblock %}

{% block body %}

    <div class="login-box small">
        <div class="login-logo">
            <a href="/"><b>Tax</b>SYS</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body" style="text-align:center;">
                <p class="login-box-msg">Sign in to start your session</p>
                <a href="{% url 'oidc_authentication_init' %}"><img src="{% static '/img/sso.png' %}"></a>
                <p class="login-box-msg">Sign in to start your session</p>
                <a href="{% url 'director_oidc_authentication_init' tenant_id="bob" %}"><img src="{% static '/img/sso.png' %}"></a>
            </div>
        </div>
    </div>

{% endblock %}