{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body-class %}hold-transition login-page{% endblock %}

{% block body %}

    <div class="login-box small">
        <div class="login-logo">
            <a href="/"><b>Tax</b>SYS</a>
            <h1>{{ tenant.name }}</h1>
        </div>

        <div class="card mb-3">
            <div class="card-body login-card-body">
                <p class="text-center">You have successfully logged in as a CEO and given permissions to TaxSYS. Please
                    wait
                    while TaxSYS gathers information on you and your available corporations.</p>

                <div class="text-center" style="margin-bottom:15px;">

                </div>

                <div class="progress mb-3" style="margin-bottom:5px !important;">
                    <div class="progress-bar bg-info" id="director-progress" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0% Complete</span>
                    </div>
                </div>
                <small><i class="fas fa-sync-alt fa-spin fa-pull-left" style="margin-top:2px;"></i><p id="status-text">Getting Characters...</p></small>
            </div>
        </div>

        <div class="alert alert-info">
            <h5><i class="icon fas fa-info"></i> Info</h5>
            Do not close this window until complete, once process is complete you will be logged out.
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $(document).ready(() => {

            let total = {{ character_count }};
            let step = 100/total;

            var updateProgress = window.setInterval(() => {

                $.get("{% url 'ajax_director_get_count' tenant_id=tenant_id %}", (r) => {

                    if(r.count > 0 & r.count < total) {
                        $('#status-text').html('Processed ' + r.count + ' characters...');
                        $('#director-progress').attr('style', 'width:' + (r.count * step) + '%');
                    } else if(r.count >= total) {
                        window.clearInterval(updateProgress);
                        window.location = "{% url 'logout' %}";
                    }

                }, 'json');

            },1000);

        });

    </script>

{% endblock %}