{% extends 'internal.html' %}
{% load static %}
{% load tenant_tags %}

{% block title %}Overrides{% endblock %}

{% block content %}
    {% get_wizard_enabled as has_wizard %}
    {% if has_wizard == True %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-hat-wizard"></i> Step 3 - Setup Overrides</h3>
                        <div class="card-tools">
                            <span title="3 New Messages" class="badge bg-primary">Setup Wizard</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Overrides allow you to specify different tax rates for different ores or minerals.  This is helpful
                        to encourage mining of a specific ore or mineral.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'tenant_admin' tenant_id %}" class="btn btn-light"><i class="fas fa-angle-left"></i> Step 2 - Setup Settings</a>
                        <a href="{% url 'tenant_index' tenant_id %}?wizard=False" class="btn btn-success float-right">Finish and Exit</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}