{% extends 'internal.html' %}
{% load static %}
{% load tenant_tags %}

{% block title %}Settings{% endblock %}

{% block content %}

    {% get_wizard_enabled as has_wizard %}
    {% if has_wizard == True %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-hat-wizard"></i> Step 1 - Settings</h3>
                        <div class="card-tools">
                            <span title="3 New Messages" class="badge bg-primary">Setup Wizard</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Welcome to TaxSYS.  The first step to setting up TaxSYS is configuring the Tax and Value
                         options.</p>
                        <p>Don't worry if you haven't figured out the Start Date yet, you can configure this later when
                        you are ready to start taxing your miners.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'tenant_admin_overrides' tenant_id %}" class="btn btn-success float-right">Setup Overrides <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <p class="text-muted"><small>Note: All save buttons save entire form</small></p>
                {{ form.non_field_errors }}
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-cog"></i> Settings <small>{{ tenant.name }}</small></h3>
                    </div>
                    <div class="card-body p-0">
                        {% csrf_token %}
                        <table class="table" id="tenant-settings-table">
                            <tbody>
                            <tr>
                                <td class="table-title" colspan="2">Tax Settings
                                    <button class="btn btn-success float-right btn-xs" type="submit"><i
                                            class="fas fa-save"></i> Save Changes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.start_date.id_for_label }}">Start Date</label>
                                    <p>Only Ore mined after this date will be taxed. When a new Member joins the
                                        Corporation then the Employment Start Date will be used.</p>
                                </td>
                                <td>{{ form.start_date }}{{ form.start_date.errors }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.mineral_tax_rate.id_for_label }}">Mineral Tax Rate</label>
                                    <p>Tax value of Minerals at this rate. Minerals are refined from Ore/Ice/Moon.</p>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        {{ form.mineral_tax_rate }}{{ form.mineral_tax_rate.errors }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">%</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.goo_tax_rate.id_for_label }}">Goo Tax Rate</label>
                                    <p>Tax value of Moon Goo at this rate. Moon Goo is refined from Moon Ore.</p>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        {{ form.goo_tax_rate }}{{ form.goo_tax_rate.errors }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">%</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="table-title">Market Settings
                                    <button class="btn btn-success float-right btn-xs" type="submit"><i
                                            class="fas fa-save"></i> Save Changes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.source.id_for_label }}">Source Market</label>
                                    <p>This is one of the Stations below, or a RegionId. The valid Station Ids are:</p>
                                    <p>Market information is pulled from <a href="https://market.fuzzwork.co.uk/api/">Fuzzworks
                                        Market API</a></p>
                                </td>
                                <td>
                                    {{ form.source }}{{ form.source.errors }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.source_type.id_for_label }}">Source Order Type</label>
                                    <p>This the type of transactions to use for statistic data.</p>
                                </td>
                                <td>{{ form.source_type }}{{ form.source_type.errors }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.source_stat.id_for_label }}">Source Stat</label>
                                    <p>This the type of stat data to use. Current Fuzzworks options are:</p>
                                </td>
                                <td>{{ form.source_stat }}{{ form.source_stat.errors }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.source_modifier.id_for_label }}">Source Modifier</label>
                                    <p>This is the percentage of the Source Stat to use for value calculations (ie: 90
                                        would indicate to use 90% of the Source Stat)</p>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        {{ form.source_modifier }}{{ form.source_modifier.errors }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">%</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.ice_refine_rate.id_for_label }}">Ice Refine Rate</label>
                                    <p>The Refine rate to use to calculate value of mined ice. The higher the rate the
                                        more valuable the ice becomes as it is broken down into refined minerals.</p>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        {{ form.ice_refine_rate }}{{ form.ice_refine_rate.errors }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">%</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.ore_refine_rate.id_for_label }}">Ore Refine Rate</label>
                                    <p>The Refine rate to use to calculate value of mined ore. The higher the rate the
                                        more valuable the ore becomes as it is broken down into refined minerals.</p>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        {{ form.ore_refine_rate }}{{ form.ore_refine_rate.errors }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">%</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.moon_refine_rate.id_for_label }}">Moon Refine Rate</label>
                                    <p>The Refine rate to use to calculate value of mined moon ore. The higher the rate
                                        the more valuable the ore becomes as it is broken down into refined
                                        minerals.</p>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        {{ form.moon_refine_rate }}{{ form.moon_refine_rate.errors }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">%</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="table-title">Late Fee Settings
                                    <button class="btn btn-success float-right btn-xs" type="submit"><i
                                            class="fas fa-save"></i> Save Changes
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.late_fees_enabled.id_for_label }}">Late Fees Enabled</label>
                                    <p>Enable the Late Fee System. The Late Fee System has two modes of operation.</p>
                                    <dl class="dl-horizontal" style="margin-top:10px;">
                                        <dt>Continuous Assessment</dt>
                                        <dd>This mode will check the Balance of each account daily, if the account owes
                                            more than <strong>Late Fee Threshold</strong> the <strong>Late Fee
                                                Charge</strong>
                                            will be assessed.
                                        </dd>
                                        <dt>Monthly Assessment</dt>
                                        <dd>This mode will check the Balance of each account on the specified
                                            <strong>Late Fee Day</strong>, if the account owes more than
                                            <strong>Late Fee Threshold</strong> from the previous month then <strong>Late
                                                Fee Charge</strong>
                                            will be assessed.
                                        </dd>
                                    </dl>
                                </td>
                                <td><!--{{ form.late_fees_enabled }}{{ form.late_fees_enabled.errors }}-->
                                    <div class="form-group">
                                        <div class="float-right custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                            {{ form.late_fees_enabled }}
                                            <label class="custom-control-label"
                                                   for="{{ form.late_fees_enabled.id_for_label }}"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.late_fee_threshold.id_for_label }}">Late Fee Threshold</label>
                                    <p>Late Fee Charge will be assessed only if the Outstanding Balance of the account
                                        is greater than this number. This can be set to 0 to charge any account that has
                                        an Outstanding Balance. Note: The number in this field should be POSITIVE.
                                        Outstanding Balances are Negative, I do the tricky stuff behind the scenes.</p>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        {{ form.late_fee_threshold }}{{ form.late_fee_threshold.errors }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">ISK</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.late_fee_day.id_for_label }}">Late Fee Day</label>
                                    <p>The day to check if previous months Outstanding Balance is over Late Fee
                                        Threshold. Note: See Modes of Operation in Enable Late Fees. To Disable this
                                        setting, set to 'Pick a Day...' option.</p>
                                </td>
                                <td>{{ form.late_fee_day }}{{ form.late_fee_day.errors }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="{{ form.late_fee_charge.id_for_label }}">Late Fee Charge</label>
                                    <p>Late Fee charge percentage.</p>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        {{ form.late_fee_charge }}{{ form.late_fee_charge.errors }}
                                        <div class="input-group-append">
                                            <div class="input-group-text">%</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}