{% extends 'internal.html' %}
{% load static %}
{% block content %}
Normal page for tenant {{ tenant.name }}
    <div class="row">
    <div class="col-md-6">
        Lorem ipsum dolor sitementum felis non turpis pulvinar, a vehicula dui mattis. Nam ornare dui quis laoreet euismod. Etiam pulvinar lorem sed felis dictum, a sodales neque vehicula. Nullam bibendum, tortor eu bibendum fringilla, lectus augue finibus nisi, sed posuere neque magna quis dui. Ut pulvinar rhoncus malesuada. Praesent nunc dolor, placerat ac sem gravida, luctus porta sem.
    </div>
    </div>
{% endblock %}