[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-decorator-include = "*"
mozilla-django-oidc = "*"
requests = "*"
sentry-sdk = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
huey = "*"
redis = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.7"
