/* Login/Register */
.login-box, .register-box {
    max-width: 500px;
    width: 100%;
}

.login-box.small {
    max-width: 360px;
    width: 100%;
}

/*Internal*/
/*Header*/
.brand-bar {
    background: #007BFF;
    height: 50px;
    color: white;
}

.brand-bar .navbar-brand {
    color: white;
    line-height: 50px;
    padding: 0;
}

.brand-bar a {
    color: white;
    line-height: 50px;
}

#brand-bar-content {
    width: 100%;
}

/*.content-wrapper
{
	margin-top: -58px;
	padding-top: 58px;
}*/
a.nav-link i {
    margin-top: 4px;
}

/* Helpers */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.no-margin {
    margin: 0px;
}

.full-width {
    width: 100%;
}

/*Admin Pages*/
table#tenant-settings-table td {
    background-color: #FBFBFB;
}

table#tenant-settings-table td:first-child {
    padding-left: 40px;
}

table#tenant-settings-table td:last-child {
    width: 40%;
}

table#tenant-settings-table td.table-title {
    padding-left: 20px;
    font-size: 1.1em;
    font-weight: bold;
    background-color: white;
}
