{% extends 'base.html' %}
{% load static %}

{% block body %}

    <div class="wrapper">

        <header class="main-header">
            <div class="brand-bar">
                <div class="container">
                    <div class="row">
                        <div class="d-flex justify-content-between" id="brand-bar-content">
                            <a href="/" class="navbar-brand"><i class="fas fa-university"></i> <b>Tax</b>SYS</a>
                            <a class="pull-right" href="{% url 'logout' %}">Logout {{ user.display_name }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% include '_topnav.html' %}
        </header>

        <!-- Full Width Column -->
        <div class="content-wrapper" style="height: auto;">
            <div class="container" style="padding-top:20px;">

                {% block content %}{% endblock %}

            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-wrapper -->
{#        <footer class="main-footer">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="d-flex justify-content-between full-width">#}
{#                        <strong>Copyright &copy; 2017-2020 <a href="http://binarymethod.com" data-toggle="tooltip"#}
{#                                                              title="ISK Donations accepted, but not required">Fecal#}
{#                            Matters</a>.</strong>#}
{#                        <div class="float-right d-none d-sm-inline">#}
{#                            Version 3#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        const capitalize = (s) => {
            if (typeof s !== 'string') return ''
            return s.charAt(0).toUpperCase() + s.slice(1)
        }

        $(document).ready(() => {

            let Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true
            });

            let messages = [];

            {% if messages %}
                {% for message in messages %}
                    Toast.fire({
                        title: capitalize('{{ message.tags }}'),
                        text: '{{ message }}',
                        icon: '{{ message.tags }}'
                    });
                {% endfor %}
            {% endif %}
        })

    </script>

{% endblock %}